<div id="main" class="height-100">
	<header class="header">
		<mat-toolbar class="top-nav">

			Top nav
		</mat-toolbar>
	</header>
	<mat-drawer-container class="page-wrapper">
		<!-- vertical Menu Bar -->
		<mat-drawer>
			vertical
		</mat-drawer>

		<mat-drawer-content>
			<!-- horizontal Menu Bar -->
			<button mat-raised-button color="primary" (click)="onAdd()">Add</button>

			<div fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
				<div fxFlex="20%" class="test" style="background-color: gray;">
					Tree
				</div>
				<div fxFlex="80%">
					jhhhhhhhhhhhhhh
					<app-dashboard></app-dashboard>
					<!-- <router-outlet></router-outlet> -->
				</div>
			</div>

		</mat-drawer-content>


	</mat-drawer-container>
</div>